.svgContainer {
  transform: rotate(-90deg) rotateX(180deg);
  position: relative;
  .textContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg) rotateX(180deg);
  }
  .svgAnimation {
    transition: 1s linear all;
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 1508px;
    }
  }
}
