.drawingList {
  padding: 20px 40px;
  &-input-group {
    padding-left: 0.6rem;
    margin-bottom: 1rem;
    input {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border: none;
    }
    button {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }
    i {
      color: #00A7FF;
    }
  }
  &-lists {
    overflow: hidden;
    margin-bottom: 20px;
    &-toggle {
      display: none;
    }
    &-header {
      font-size: 1.2rem;
      margin: 0;
      background-color: #335A83;
      padding: 5px 17px;
    }
    .list-group-item {
      border-bottom: 1px solid #335A83;
      font-size: 0.8rem;
      background-color: transparent;
      input {  
        background-color: transparent;
        border: 1px solid #ffffff;
      }
    }
    &-content {
      height: 350px;
      overflow-y: auto;
    }
  }
}

@media screen and (max-width: 992px) {
  .drawingList {
    padding: 20px 40px;
    &-input-group {
      margin-bottom: 1.5rem;
    }
    &-lists {
      height: 400px;
      position: relative;
      margin-bottom: 80px;
      &-header--expand {
        margin-bottom: 60px;
      }
      &-toggle {
        display: block;
        position: absolute;
        top: 38px;
        width: 100%;
        padding: 0 10px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
        background-color: #ffffff;
        color: #00A7FF;
        transition: 0.1s;
        z-index: 100;
      }
      &-content {
        height: 300px;
        overflow-y: auto;
        transition: all 0.3s;
      }
      &-content-hide {
        height: 0;
      }
    }
    &-btn {
      position: fixed;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 36px;
      font-style: italic;
      border-radius: 0;
      border-bottom: 2px solid #FFFFFF;
      z-index: 10;
    }
  }
}
