.drawingView {
  padding: 30px;
  .drawingView-panel {
    width: 100%;
    .tipTitle {
      text-align: left;
      padding: 10px 0;
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 992px) {
  .drawingView {
    height: 60vh;
  }
}
