@import "./styles/variables.scss";

.wrap {
  width: 100%;
  height: 100vh;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
}

.content {
  margin: 0 auto;
  overflow: hidden;
  max-width: 900px;
  border: 1px solid #ffffff;
}

.tipTitle {
  text-align: left;
  padding: 10px 0;
}
