.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh 0;
}

.card {
  margin: 0 auto;
  overflow: hidden;
}

.tipTitle {
  padding: 15px 10px;
  text-align: center;
}