.winner {
    padding-top: 50px;
    &-content {
        height: 200px;
        &-tip-text {
            color: #00d9ff;
            font-weight: 700;
            font-size: 40px;
            animation: tipAnimation 1.5s ease;
        }
    }
    &-btn {
        border-bottom: 1px solid #FFFFFF;
        border-radius: 0;
    }
}

@media screen and (max-width: 576px) {
    .winner {
        &-content {
            padding: 0 40px;
            text-align: center;
            font-size: 1.1rem;
            &-tip-text {
                animation: tipAnimation 1.5s ease;
            }
        }
    }
  }

  @keyframes tipAnimation
  {
      0% {
        transform: scale(0);
      }
      50% {
        transform: scale(1.3);
      }
      60% {
        transform: scale(0.7);
      }
      70% {
        transform: scale(1.2);
      }
      75% {
        transform: scale(0.8);
      }
      80% {
        transform: scale(1.1);
      }
      85% {
        transform: scale(0.9);
      }
      90% {
        transform: scale(1.05);
      }
      95% {
        transform: scale(0.95);
      }
      100% {
        transform: scale(1);
      }
  }
  